
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: inherit;
}

body{
	font-family:Montserrat;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F1F3F4;
}

.content_image img{
	width: 500px;
	margin-left: 20px;
}
a{
	color:#726c62;
	vertical-align:text-top;
	font-size:28px;
	font-family:Montserrat;
	text-decoration: none;
}
.main_text{
	color:#333745;
	text-align:left;
	vertical-align:text-top;
	font-size:48px;
	font-family:Montserrat;
	line-height:auto;
	border-style:hidden;
	outline:none;
	width:570px;
	margin-bottom: 70px;
}
.main_desc{
	color:#726c62;
	font-size:24px;
	font-family:Montserrat;
	width:380px;
	margin-bottom: 50px;
}
.content{
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin-top: 70px;
}
.content_text{
	width: 500px;
}
.btn{
	background-color:#709fd7;
	height:45px;
	border-radius:17px;
	color:#ffffff;
	text-align:center;
	font-size:24px;
	padding: 10px 120px;
	filter:drop-shadow(0px 4px 4px rgba(0.2715277671813965,0.4062027633190155,0.5666666626930237,0.3));
}
.header_content{
	display: flex;
	justify-content: space-between;
	width:500px;
	align-items: center;
	margin-top: 5%;
	
}
.header_content a:hover{
	color: black;
}
.header_logo{
	margin-right: 70px;
}
.header_logo img{
	width: 80px;
}

.quiz {
	position: relative;
	padding: 1rem 1rem calc(2rem + 70px);
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
	width: 700px;
	height:350px;
	overflow: hidden;
	margin-top: 20%;
}

.title{
	font-size: 1.5rem;
	padding: 30px 0 0;
	text-align: center;
	align-items: center;
	margin: 0 0 30px;
	color:#000000;
	font-size:24px;
}

.summary {
	text-align: center;
	margin: 0.5rem 0 1rem;
	font-size: 1.2rem;
	font-weight: 400;
}

.result {
	text-align: center;
	font-size: 1.2rem;
	font-weight: 700;
}

.quiz-list {
	list-style-type: none;
	padding: 0;
	align-items: center;
}

.quiz-list li {
	color:#808080;
	font-size:24px;
	font-family:Montserrat;
	display: flex;
	margin-left: 20%;
	margin-bottom: 2%;
}

.quiz-list label {
	cursor: pointer;
    display: block;
	padding: 5px 2px;
	text-align: center;
}

.quiz-list li label:hover {
	padding: 5px;
	color: #5681B5;
	width: 400px;
	text-align: left;
	border-radius: 20px;
}

.quiz-list label.correct {
	color: rgb(36, 144, 77);
	font-weight: bold;
}

.quiz-list label.disabled {
	cursor: no-drop;
}

.quiz-list label.disabled:hover {
	cursor: no-drop;
	background-color: transparent;
}

.quiz-list label.wrong {
	color: rgb(218, 59, 59);
	font-weight: bold;
}

.quiz-list input[type="radio"] {
	margin-right: 10px;
}

.quiz-submit {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 70px;
	line-height: 70px;
}

.submit {
	background-color: #709FD7;
	color: #fff;
	border: none;
	display: block;
	width: 100%;
	cursor: pointer;
	font-size: 1.1rem;
	font-family: inherit;
}

.submit:hover {
	background-color: #5681B5;
}

.submit.next {
	background-color: #5681B5;
}

.submit.next:hover {
	background-color: #5681B5;
}

.submit.next:focus {
	outline: none;
	background-color: #5681B5;
}

.quiz-list.shake {
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
	color: #94ca00;
}
.info{
	display: flex;
	align-items: center;
justify-content: center;
}
.info_block{
	padding: 50px;
	margin: 20px;
	width: 300px;
	border-radius: 10px;
	border: 1px solid black;
	text-align:center;
}
.info_text{
	margin-top: 30px;
}

.post {
	width: 300px;
	margin: 20px;
	height: 400px;
	border-radius: 10px;
	display: flex;
	overflow: hidden;
	flex-direction: column;
	position: relative;


	&:hover {
	   .header_post {
		  margin-top: -20px;
	   }

	   .body_post {
		  height: 50%;
	   }

	   img {
		  transform: translatey(-10px) translatex(-5px) scale(1.05);
	   }
	}

	.header_post {
	   width: 100%;
	   height: 40%;
	   background: #ddd;
	   position: absolute;
	   top: 0;
	   -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
	   -moz-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
	   -ms-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
	   -o-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
	   transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;

	   img {
		  max-width: 100%;
		  height: auto;
		  transition: ease-in-out 600ms;
	   }
	}

	.body_post {
	   width: 100%;
	   height: 30%;
	   background: #fff;
	   position: absolute;
	   bottom: 0;
	   display: flex;
	   justify-content: center;
	   align-items: center;
	   -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
	   -moz-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
	   -ms-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
	   -o-transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
	   transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
	   cursor: pointer;

	   .post_content {
		  width: 80%;
		  height: 80%;
		  background: #fff;
		  position: relative;

		  h1 {
			 font-size: 20px;
			 font-weight:500;
		  }

		  p {
			 font-size: 14px;
			 font-weight: 300;
			 margin-top: 5px;
		  }}
}}
.info_a{
	white-space: pre-line;
	width: 1000px;
	margin-top: 20px;
	text-align: left;
	font-size: 20px;
	color:#2a2a2a;
	vertical-align:text-top;
	font-family:Montserrat;
	text-decoration: none;
	
}
.info_a strong{
	color:#161616;
	vertical-align:text-top;
	font-family:Montserrat;
	text-decoration: none;
	font-weight: 500;
}
.info_a_h{
	font-size: 30px;
	font-weight: 500;
	width: 1000px;
	margin-top: 30px;
	color:#000000;
	vertical-align:text-top;
	font-family:Montserrat;
	text-decoration: none;
}
.phone{
	align-items: center;
	text-align: center;
	margin-top: 20px;
}
.phone p{
	margin-top: 10px;
}
@keyframes top {
 0% {
	opacity: 0;
	bottom: -80px;
 }
 100% {
	opacity: 1;
	bottom: 0px;
 }
}

@keyframes icon {
 0% {
	opacity: 0;
	transform: scale(0);
 }
 50% {
	opacity: 1;
	transform: scale(1.3) rotate(-02deg);
 }
 100% {
	opacity: 1;
	bottom: 0px;
 }
}


@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}
	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}
	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}
	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}

@media only screen and (max-width: 1560px) {
	.content_image img{
		max-width: 200px;
		margin-top: 30px;
		margin-left: 0;
	}
	a, p, span, .main_desc{
		font-size: 18px;
	}
	.main_text{
		font-size: 24px;
	}
	.btn{
		font-size: 18px;
	}
	.quiz{
		padding: 10px 10px 90px;
	}
}
@media only screen and (max-width: 1000px) {
	.content {
		flex-direction: column;
		align-items: center;
	}
	.main_desc, .content_text{
		width: 300px;
		margin-bottom: 40px;
	}
	.btn{
		width: 100px;
		padding: 5px 50px;
	}
	.title, span{
		font-size: 14px;
	}
	.quiz-list label{
		padding: 0;
	}
	.header_logo img{
		width: 70px;
	}
	.header_content{
		width: 300px;
		
	}
	.header_logo{
		margin-right: 0px;
		margin-left: 0;
	}
	.quiz{
		width: 450px;
	}
}
@media only screen and (max-width: 600px) {
	.header_content{
		width: 250px;
	}
	.header_logo img{
		width: 50px;
	}
	.header_logo{
		margin-right: 0;
	}
	a, p, span, .main_desc{
		font-size: 14px;
	}
	.main_text{
		width: 270px;
	}
	.quiz{
		width: 300px;
	}
}